#body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.back {
    float: right;
    margin: 12px 25px;
    padding: 10px 19px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #46eaf9,#667eea); 
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease;
}

.back:hover {
    background: linear-gradient(135deg, #490779,#46eaf9); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}

.lst {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    list-style-type: none;
    margin-bottom: 5px;
    border:  2px groove #46eaf9;
    border-radius: 30px;
    animation: rotate infinite normal 1s;
}

@keyframes rotate{
    0%{
        border:  2px groove #46eaf9;
        border-bottom-left-radius: 40px;
    }
    25%{
        border:  2px groove #27d7fa;
        border-top-left-radius: 40px;
    }
    50%{
        border:  2px groove #26edea;
        border-top-right-radius: 40px;
    }
    75%{
        border:  2px groove #39ddfa;
        border-bottom-right-radius: 40px;
    }
    100%{
        border:  2px groove #3cfaca;
        border-bottom-left-radius: 40px;
    }
}

.lst .explore{
    float: right
}
.explore{
    width: 90px;
    align-self: flex-end;
    text-align: center;
    margin: 15px 20px;
    padding: 8px 13px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #46eaf9,#667eea); 
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease;
}

.lst .explore:hover {
    background: linear-gradient(135deg, #490779,#46eaf9); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: scale(0.88);
}

.tags{
    padding-top: 20px;
    padding-left: 50px;
    background: linear-gradient(135deg, #46eaf9, #764ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

.dbox{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.dlst{
    border:  2px groove #46eaf9;
    border-radius: 30px;
    padding: 20px 20px;
    list-style: none;
    margin-bottom:5px ;
    animation: rotate infinite normal 1s;
}

@media (max-width: 478px) {
    .box {
        margin-left: 6px;
        margin-right: 6px;
    }

    .lst {
        padding: 10px 10px;
        border-radius: 20px;
        font-size: 0.8em;
        line-height: 1.6;
    }

    .explore {
        width: 22%;
        margin: 10px 0;
        padding: 10px;
        font-size: 0.9em;
        align-self: end;
    }
    .back{
        width: 22%;
        margin: 10px 0;
        padding: 10px;
        font-size: 0.9em;
        align-self: end;
    }


    .tags {
        padding-left: 20px;
        font-size: 1.1em;
        text-align: center;
    }

    .dbox {
        margin-left: 6px;
        margin-right: 6px;
    }

    .dlst {
        padding: 10px 10px;
        border-radius: 20px;
        font-size: 0.8em;
        line-height: 1.6;
    }
}
